@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dirty-white text-deep-charcoal font-sans antialiased m-0 p-0;
  }
}

/* Print Styles */
@media print {
  .no-print {
    display: none !important;
  }
  body {
    background-color: white !important;
  }
  .print-area {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    border: none !important;
  }
}
